{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static 'complaint_app/create_complaint.css' %} />
    <title>Complaint Created Successfully</title>
</head>
<body>
    <section class="complaint-success">
        <i class="bi bi-check-circle checkmark"></i>
        <div class="horizontal-2"></div>
        <p>Complaint created successfully</p>
        <a href="/create" class="new-complaint">Do you have a new complaint?</a>
    </section>
</body>
</html>