{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href={% static 'complaint_app/create_complaint.css' %} />
    <title>Document</title>
  </head>
  <body>
      <section class="create">
          <h1>Youth Employment Agency</h1>
          <div class="horizontal"></div>
          <h2>Staff Complaint Form</h2>
          <div class="horizontal-2"></div>
          <form action="" method="post" class="complaint-form">
            {% csrf_token %}
            <label for="id_name" class="field-label">Name</label>
            <input type="text" name="name" class="form-field" required id="id_name"/>
            
            <label for="id_directorate" class="field-label">Directorate</label>
            <input type="text" name="directorate" class="form-field" required id="id_directorate"/>

            <label for="location" class="field-label">Location</label>
            <input type="text" name="location" class="form-field" required id="id_location"/>
            
            <label for="device" class="field-label">Device</label>
            <input type="text" name="device" class="form-field" required id="id_device"/>

            <label for="problem" class="field-label">Problem</label>
            <input type="text" name="problem" class="form-field" required id="id_problem"/>

            <label for="short_description" class="field-label">Short description</label>
            <textarea type="text" name="short_description" rows=15" class="form-field" required id="id_short_description"></textarea>

            <input type="submit" value="Submit" class="submit"/>
          </form>
      </section>
  </body>
</html>
